Repository joshea0/react-app-typescript-starter-with-mst: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier, eslint, stylelint

chore: add vscode debugger config for jest tests
  .vscode/launch.json
  package.json
  src/components/App/App.tsx
Due: tsc --noEmit, prettier, eslint

chore(lint,lint-staged): fix bug with tsc call in lint-staged not reading tsconfig.json
  .lintstagedrc
  .lintstagedrc.js
  package.json
Due: prettier, eslint

chore(plop): add plop and component generator template
  .eslintignore
  .prettierignore
  package.json
  plop/templates/component/{{name}}.styles.tsx.hbs
  plop/templates/component/{{name}}.test.tsx.hbs
  plop/templates/component/{{name}}.tsx.hbs
  plopfile.js
  src/components/App/App.test.tsx
  src/components/App/App.tsx
  yarn.lock
Due: tsc --noEmit, prettier, eslint

chore(versioning,release): add configuration for standard-version and add first release 1.0.0
  .versionrc
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

chore(license): add MIT license
  LICENSE
Due: none

chore(ci): add CI using github actions (#7)
  .github/workflows/main.yml
  ci.sh
Due: none

chore(routing): add react-router-dom (#11)
  package.json
  src/components/About/About.styles.tsx
  src/components/About/About.test.tsx
  src/components/About/About.tsx
  src/components/App/App.test.tsx
  src/components/App/App.tsx
  src/components/Home/Home.styles.tsx
  src/components/Home/Home.test.tsx
  src/components/Home/Home.tsx
  src/index.tsx
  yarn.lock
Due: tsc --noEmit, prettier, eslint, stylelint

chore(release): 1.0.1
  CHANGELOG.md
  package.json
Due: none

chore: add mobx-state-tree
  package.json
  src/components/App/App.test.tsx
  src/components/App/App.tsx
  src/components/Home/Home.test.tsx
  src/components/Home/Home.tsx
  src/stores/Counter.ts
  src/stores/RootStore.ts
  yarn.lock
Due: tsc --noEmit, prettier, eslint

Path conditions:
  tsc --noEmit: any of: *.{tsx,ts}
  prettier: any of: *.{jsx,js,tsx,ts}
  eslint: any of: *.{jsx,js,tsx,ts}
  stylelint: any of: *.styles.{jsx,tsx}
